body {
  background-color: #effad3;
  margin: 0;
  text-align: center;
  font-family: 'Courier New", Courier, monospace'
}

h1 {
  margin-top: 0;
  font-size: 4rem;
}

h2 {
  margin-top: o;
  font-size: 2rem;
}

.top-container {
  background-color: #28abb9;
  padding-top: 50px;
}

.middle-container {
  background-color: #2d6187;
  /*width: 200px;
  height: 100px;
  display: inline-block;*/
}

.photo-container {
  background-color: #effad3;
  /*width: 200px;
  height: 100px;
  display: inline-block;*/
}

.centre-container {
  background-color: #28abb9;
  /*width: 200px;
  height: 100px;
  display: inline-block;*/
}

.bottom-container {
  background-color: #a8dda8;
  /*width: 200px;
  height: 100px;
  display: inline-block;*/
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 450px;
}

.middle-cloud {
  position: relative;
}

.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 400px;
  top: 350px;
}